@import "tailwindcss";

@theme {
	--breakpoint-mb: 320px;
	--breakpoint-xs: 480px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
}

@layer base {
	main {
		@apply grow;
	}
}

@layer components {
	.main-container {
		@apply flex flex-col h-screen;
	}

	.tab-heading {
		@apply text-2xl text-center p-3;
	}
}
